@tailwind base;
@tailwind components;
@tailwind utilities;

.back {
    background-position: center;
}
.hometype {
    font-family: "Poppins";
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    border-right: 0.1em solid #ffbd59;
}
.animator {
    transition: transform 0.5s ease-out;
}
.animator2 {
    transition: transform 0.5s ease-out;
}
.animator3 {
    transition: transform 0.5s ease-out;
}
