@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
